.slider{
    height:40px;
    border: 2px solid red;
    border-radius: 20px;
    margin-top: 10px;
}

.thumb{
    background-color: red;
    cursor: pointer;
    width:40px;
    height:40px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid greenyellow;
    border-radius: 20px;
}

.slider.green .thumb{
    background-color: rgb(47, 230, 30);
    cursor: pointer;
    width:40px;
    height:40px;
    border-radius: 20px;
}
.lol{
    margin-top: 40px;
}
.backbtn{
    margin-left: 15px;
}
.timer-settings{
    display: flex;
}