body {
  margin: 0;
  font-family: zillaslab, palatino, "Palatino Linotype", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #feb062;
  background-color: #575151;
}
.head {
  font-size: 41px;
}
.container {
  margin-left: 470px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.form {
  font-size: 25px;
}

.l-items {
  font-size: 28px;
  height: auto;
  width: 300px;
  margin-top: 10px;
}

.container {
  border: 5px solid #feb062;
  border-radius: 10px;
}

.selec-btn{
  margin: 10vh;
  margin-bottom: -5vh;
  margin-left: 40%;
}

.selec-btn > button{
  height: 30px;
  width: 100px;
  background-color: #feb062;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 14px;
}